*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

ul,
ol,
li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

html,
body {
   height: 100%;
   line-height: 1;
   font-size: 14px;
   color: #000;
   font-weight: 500;
   font-family: 'Roboto', sans-serif;
}

/*------------*/
.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

/*------------*/
.container {
   max-width: 1280px;
   padding: 0px 15px;
   margin: 0px auto;
   box-sizing: content-box;
}

/*------Header------*/
.header__top {
   background: #0F1035;
}

.header-top__container {}

._container {}

.header-top__body {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 19px 0px 20px 0px;
}

.header-top__menu {
   display: flex;
}

.header-top__item {}

.header-top__item:not(:last-child) {
   margin-right: 20px;
}

.header-top__link {
   font-weight: 700;
   font-size: 14px;
   line-height: 129%;
   color: #FFFFFF;
}

.header-top__link:hover {
   text-decoration: underline;
}

.header-top__body a {
   font-weight: 700;
   font-size: 14px;
   line-height: 129%;
   color: #FFFFFF;
}

.header-top__body a:hover {
   text-decoration: underline;
}

.header {
   background: #FFFFFF;
}

.header__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__logo {
   padding: 24px 0px;
}

.nav {}

.header__nav {

   display: flex;
   flex-wrap: wrap;
}

.header__item {}

.header__item:last-child {
   margin-right: 130px;
}

.header__item:not(:last-child) {
   margin-right: 30px;
}

.header__link {
   font-size: 14px;
   line-height: 129%;
   color: #000000;
}

.header__link:hover {
   text-decoration: underline;
}

/*------Promotion------*/
.promotion {
   background: #D3F1F3;
}

.promotion__container {
   display: flex;
   align-items: center;
   padding: 22px 0px 20px 0px;
   justify-content: center;
}

.promotion__text {
   font-weight: 700;
   font-size: 16px;
   line-height: 125%;
}

.promotion__link {
   font-weight: 400;
   font-size: 16px;
   line-height: 125%;
   color: #000000;
}

.promotion__link:hover {
   text-decoration: underline;
}

.arrow__logo {
   padding-top: 3px;
   display: inline-block;
}

/*-------Up button-----*/
.body__up-btn {
   display: none;
   position: fixed;
   bottom: 50px;
   right: 50px;
   background: rgba(241, 237, 237, 0.5);
   z-index: 20;
}

.body__up-btn img {
   opacity: 0.75;
}

.body__up-btn:hover {
   cursor: pointer;
}

/*-----Main-Page-------*/
.main {}

.mai__page {
   background-image: url('../img/mainpage/01.png');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
   padding-bottom: 41px;
}

.main-page__container {}

.container {}

.main-page__body {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}

.main-page__title {
   max-width: 488px;
   font-weight: 700;
   font-size: 40px;
   line-height: 120%;
   text-align: center;
   padding: 33px 0px 12px 0px;
}

.main-page__text {
   font-weight: 400;
   font-size: 27px;
   line-height: 148%;
   margin-bottom: 316px;
   text-align: center;
}

.main-page__email {
   width: 340px;
   border-radius: 3px;
   font-weight: 400;
   font-size: 16px;
   line-height: 125%;
   color: rgba(0, 0, 0, 0.4);
   padding: 13px 0px 13px 22px;
   outline: none;
}


.main-page__btn {
   background: #190083;
   border-radius: 3px;
   font-weight: 700;
   font-size: 16px;
   line-height: 125%;
   text-align: center;
   color: #FFFFFF;
   padding: 13px 27px;
   margin-left: 32px;
}

.main-page__btn:hover {
   background: #6548e6;
   transition: 500ms;
   cursor: pointer;
}

/*-----Jobs-------*/
.jubs {}

.jubs__container {}

.jubs__body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.jubs__title {
   max-width: 422px;
   font-weight: 700;
   font-size: 40px;
   line-height: 120%;
   text-align: center;
   padding: 92px 0px 53px 0px;
}

.jubs__text {
   font-weight: 400;
   font-size: 22px;
   line-height: 145%;
}

.jubs__items {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   margin-top: 89px;
}

.jubs__item {
   width: 370px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.jubs__icon {
   display: flex;
   width: 90px;
   height: 90px;
   align-items: center;
   justify-content: center;
   padding-bottom: 38px;
}

.jobs-item__title {
   font-weight: 700;
   font-size: 22px;
   line-height: 109%;
   padding-bottom: 20px;
   text-align: center;
}

.jobs-item__text {
   font-weight: 400;
   font-size: 18px;
   line-height: 156%;
   text-align: center;
}

.jobs__link {
   display: block;
   background: #190083;
   border-radius: 3px;
   font-weight: 700;
   font-size: 16px;
   line-height: 125%;
   text-align: center;
   color: #FFFFFF;
   padding: 15px 24px 17px 24px;
   margin: 80px 0px 110px 0px;
}

.jobs__link:hover {
   text-decoration: underline;
   background: #6548e6;
   transition: 500ms;
}

/*------Expirience------*/
.expirience {
   position: relative;
   background-image: url('../img/expirience/cover01.png');
   background-position: left;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
}

.expirience__container {}

.container {}

.expirience__body {}

.expirience__title {
   font-weight: 700;
   font-size: 40px;
   line-height: 120%;
   text-align: center;
   padding: 111px 0px 279px 0px;
}

.expirience__section {
   position: relative;
   background: #FFFFFF;
   margin-left: 110px;
   overflow: hidden;
}

.expirience__item.active {
   display: block;
   animation-duration: 1s;
   animation-name: slideout;
}

@keyframes slideout {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

.expirience__item {
   display: flex;
   flex-direction: column;
   height: 256px;
   display: none;
   padding: 78px 0px 0px 70px;
}

.expirience__logo {
   float: left;
}

.text__sections {
   max-width: 486px;
   float: left;
   margin: 0px 0px 0px 50px;
}

.title__text {
   font-weight: 700;
   font-size: 21px;
   line-height: 200%;
   padding-bottom: 17px;
}

.autor__text {
   font-weight: 400;
   font-size: 18px;
   line-height: 156%;
}

.autor__text span {
   font-weight: 700;
   font-size: 18px;
   line-height: 156%;
}

.dots {
   display: flex;
   justify-content: center;
   margin-top: 15px;
   padding-bottom: 111px;
}

.dot.active {
   background: #FFFFFF;
}

.dots span {
   width: 15px;
   height: 15px;
   border: 2px solid #FFFFFF;
   border-radius: 7.5px;
   cursor: pointer;
}

.dots span:not(:last-child) {
   margin-right: 18px;
}

.dots span:last-child {
   margin-right: 0;
}

.white-box {
   position: absolute;
   width: 35%;
   height: 257px;
   background: #FFFFFF;
   top: 2056px;
   right: 0;
   z-index: 11;
}

/*------Hiring------*/
.hiring {
   background: #F6F6F8;
}

.hiring__container {
   padding-bottom: 111px;
}

.container {}

.hiring__body {
   display: flex;
   flex-direction: column;
}

.hiring__title {
   max-width: 744px;
   font-weight: 700;
   font-size: 40px;
   line-height: 120%;
   text-align: center;
   margin: 0 auto;
   padding: 106px 0px 40px;
}

.hiring__text {
   font-weight: 400;
   font-size: 22px;
   line-height: 145%;
   text-align: center;
   padding-bottom: 101px;
}

.hiring__items {}

.hiring__item {
   display: flex;
}

.item__unit {
   width: 190px !important;
}

.company__title {
   display: none;
   position: absolute;
   left: 80px;
}

.hiring__items:hover .company__title{
   display: block;
   
}

.company__logo {
   width: 190px;
   height: 190px;
   background: #FFFFFF;
   border-bottom: 3px solid #C2CCD4;
}

.company__description {
   margin-top: 16px;
   font-weight: 400;
   font-size: 14px;
   line-height: 114%;
   text-align: center;
   text-transform: uppercase;
}

.hiring__link {
   display: flex;
   justify-content: center;
   width: 144px;
   height: 52px;
   background: #190083;
   border-radius: 3px;
   padding: 15px 24px 17px;
   font-weight: 700;
   font-size: 16px;
   line-height: 125%;
   color: #fff;
   margin: 80px auto 0px;
}

.hiring__link:hover {
   text-decoration: underline;
   background: #6548e6;
   transition: 500ms;
}

.swiper {
   width: 100%;
   height: 232px;
}

/*------------*/
/*------------*/
/*------------*/
/*------------*/
/*------------*/
/*------------*/
/*Responsive*/
/*992px - 1200px*/
@media screen and (max-width: 1200px) {
   .container {
      width: 960px;
   }

   .white-box {
      width: 15%;
      top: 2247px;
   }
}


/*768px-992px*/
@media screen and (max-width: 992px) {
   .container {
      width: 720px;
   }

   .header__item:last-child {
      margin-right: 0px;
   }

   .header-top__item:not(:last-child) {
      margin-right: 10px;
   }

   .header__item:not(:last-child) {
      margin-right: 10px;
   }

   .jubs__item {
      width: 350px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .expirience__item {
      height: 256px;
      padding: 30px 0px 0px 30px;
   }

   .text__sections {
      max-width: 350px;
      margin: 0px 0px 0px 30px;
   }
}

/*576px-768px*/
@media screen and (max-width: 768px) {
   .container {
      width: 540px;
   }

   .header__nav {
      display: none;
   }

   .menu__icon {
      z-index: 55;
      display: flex;
      position: relative;
      width: 30px;
      height: 18px;
      cursor: pointer;
      order: 999;
      margin-left: auto;
      top: 0px;
      left: 0px;
   }

   .menu__icon span,
   .menu__icon::before,
   .menu__icon::after {
      left: 0px;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.3s ease 0s;
      background-color: #000;
   }

   .menu__icon::before,
   .menu__icon::after {
      content: "";
   }

   .menu__icon::before {
      top: 0;
   }

   .menu__icon::after {
      bottom: 0;
   }

   .menu__icon span {
      top: 50%;
      transform: scale(1) translate(0px, -50%);
   }

   .menu__icon._activete span {
      transform: scale(0) translate(0px, -50%);
   }

   .menu__icon._activete::before {
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
   }

   .menu__icon._activete::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
   }

   .header__nav {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: -200%;
      width: 100%;
      height: 100%;
      margin-top: 120px;
      overflow: auto;
      z-index: 50;
      padding: 20px 10px 0px 15px;
      background-color: rgba(241, 237, 237, 0.95);
      transition: left 0.3s ease 0s;
   }

   .header__nav a {
      font-size: 22px;
   }

   .header__nav li {
      padding-top: 10px;
   }

   .header__nav._activete {
      left: 0;
   }

   .jubs__item:not(:last-child) {
      margin-bottom: 40px;
   }

   .jobs__link {
      width: 100%;
   }

   .expirience__logo {
      width: 80px;
      height: 80px;
      float: left;
      align-items: center;
   }

   .expirience__section {
      margin-left: 40px;
   }

   .expirience__item {
      height: 256px;
      padding: 30px 0px 0px 15px;
   }

   .white-box {
      width: 15%;
      top: 2549px;
   }
}

@media screen and (max-width: 709px) {
   .white-box {
      width: 12%;
   }
}

@media screen and (max-width: 601px) {
   .white-box {
      height: 256px;
      width: 9%;
   }
}

/*0-576px*/
@media screen and (max-width: 576px) {
   .container {
      width: 90%;
   }

   .main-page__email {
      width: 100%;
   }


   .main-page__btn {
      width: 100%;
      margin-left: 0px;
      margin-top: 20px;
   }

   .expirience__logo {
      margin: 0 auto;
   }

   .expirience__logo img {
      display: block;
      width: 80px;
      height: 80px;
      float: none;
      align-items: center;
      padding-top: 0px;
   }

   .expirience__section {
      margin-left: 10px;
   }

   .expirience__item {
      height: 256px;
      padding: 20px 20px 20px 20px;
   }

   .title__text {
      font-weight: 700;
      font-size: 18px;
      line-height: 150%;
      padding-bottom: 17px;
   }

   .autor__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 156%;
   }

   .text__sections {
      margin: 15px 0px 0px 0px;
   }

   .white-box {
      width: 9%;
      top: 2615px;
   }

   .hiring__link {
      width: 100%;
   }
}

@media screen and (max-width: 567px) {
   .white-box {
      width: 9%;
      top: 2635px;
   }
}

@media screen and (max-width: 406px) {
   .white-box {
      width: 9%;
      top: 2683px;
   }
}

@media screen and (max-width: 385px) {
   .white-box {
      width: 9%;
      top: 2763px;
   }
}

@media screen and (max-width: 366px) {
   .white-box {
      display: none;
   }
}